
body {
 background-image: url("imagenes/body.jpg");
 background-repeat: repeat;

}

h1 {
  text-align: center;
  font-size: 80pt;
  text-shadow: 10px 3px 2px rgba(133, 131, 197, 0.7);
  font-family: 'Tangerine';
  letter-spacing: 15px; 
  
}

h2 {
  text-align: center;
  font-size: 40pt;
  color:mediumblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 5px; 
}

h3 {
  font-size: 50px;
  text-align: left;
}

.a { 
  background-color:moccasin; opacity: 0.8;
  text-align: center;
  width: 65%;
  font-size: 35px;
  font-family:'Times New Roman', Times, serif;
  letter-spacing: 2px; 
  margin: 20px;
}

.b { 
  font-size: 30px;
  font-family:'Times New Roman', Times, serif;
  background-color:olivedrab; opacity: 0.8;
  text-align: center;
  width: 65%;
  font-size: 35px;
  margin: 20px;
}

.c { 
  font-size: 30px;
  font-family:'Times New Roman', Times, serif;
  background-color:cadetblue; opacity: 0.8;
  text-align: center;
  width: 65%;
  font-size: 35px; 
  margin: 20px;
}

div.a {
  background-color: azure;
  width: 800px;
  border: 15px;
  padding: 50px;
  margin: 20px;
}

a:link, a:visited {
  background-color:mediumblue;
  color: white;
  border: 2px solid white;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color:lightblue;
  color: black;
}
#boton {
  background-color:grey;
  color: white;
  border: 2px solid white;

}